:root {
  --primary-color: #1e1e1e;
  --highlight-color: #0056b3;
  --bone-white: #EBEBEB;
  --light-gray: #d3d3d3;
  --secondary-color: #2a2a2a;
  --color1:#008170;
  --color2:#e2dcc8;
  --color3:#fffce1;
  --color4:#b7d7c0;
  --color5:#0e100f;
}

body {
  margin: 0;
  font-family: 'Arial', sans-serif;
  background-color: var(--color5);
  color: var(--primary-color);
  padding-top: 30px; /* Adjust based on the navbar's height */
}

.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  
}

.hero-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 460px;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  transition: background-image 1.5s ease-in-out;
}

.hero-heading h1 {
  font-size: 3rem;
  color: var(--primary-color);
  letter-spacing: 0.05rem;
  line-height: 4rem;
  margin-bottom: 4rem;
  /* border: 2px solid red; */
  
}

.dynamic-word {
  color: var(--color1);
  font-weight: bold;
  animation: fadeIn 1.5s ease-in-out;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.other-components {
  padding: 20px;
  background-color: var(--primary-color);
  color: var(--color3);
  text-align: center;
}

.other-components h2 {
  font-size: 2rem;
  margin-bottom: 10px;
  letter-spacing: 0.05rem;
  line-height: 1rem;
}

.other-components p {
  font-size: 1.2rem;
  letter-spacing: 0.05rem;
}

@media (max-width: 768px) {
  .hero-heading h1 {
    font-size: 1.5rem;
  }

  .other-components h2 {
    font-size: 1.5rem;
  }

  .other-components p {
    font-size: 1rem;
  }
}
