:root {
    --primary-color: #1e1e1e;
    --highlight-color: #0056b3;
    --bone-white: #EBEBEB;
    --light-gray: #d3d3d3;
    --secondary-color: #2a2a2a;
    --color1: #008170;
    --color2: #e2dcc8;
    --color3: #fffce1;
    --color4: #b7d7c0;
    --color5: #0e100f;
    --orngd-color: #ff5722;
  }
  
  
  .outerdiv{
    background-color: white;
  }
  
  .formcontainer{
    padding: 3rem;
    max-width: 100%;
    background-color: var(--bone-white);
    border: 1px solid var(--color5);
  }
  
  form {
      display: flex;
      flex-direction: column;
      gap: 20px;
      max-width: 700px;
      margin: 0 auto;
    }
    
    form > div {
      display: flex;
      gap: 15px;
      justify-content: space-between;
    }
    
    form > div label {
      flex: 1;
      display: flex;
      flex-direction: column;
      font-weight: bold;
      color: var(--color5);
    }
    
    form input,
    form select,
    form textarea {
      width: 100%;
      padding: 8px;
      border: 1px solid var(--color1);
      border-radius: 5px;
      font-size: 14px;
    }
    
    form textarea {
      resize: vertical;
      min-height: 80px;
    }
    
    button {
      padding: 10px 20px;
      background-color: var(--orngd-color);
      color: white;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      font-size: 16px;
    }
    
    button:hover {
      background-color: #005f50;
    }
    
    .note {
      font-size: larger;
      margin-top: 20px;
      color: #ff5733;
      font-style: italic;
      text-align: center;
    }
    
    .error {
      color: red;
      font-size: 18px;
    }
  
  
  .head {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      height: 15vh;
      text-align: center;
      padding: 20px;
      margin-top: 2rem;
      margin-bottom: 2rem;
    }
    
    .head h2 {
      font-size: 2rem; /* Default font size */
      margin-bottom: 10px; /* Space below the heading */
      animation: blink 1s infinite; /* Blinking animation */
    }
    
    .head h2::after {
      content: "";
      display: block;
      width: 50%; /* Line width */
      height: 4px; /* Line thickness */
      background-color: blue;
      margin: 10px auto 0; /* Space around the line */
    }
    
    @keyframes blink {
      0%, 100% {
        opacity: 1;
      }
      50% {
        opacity: 0;
      }
    }
    
    /* Media Queries for Responsive Design */
    @media (max-width: 768px) { /* Tablet view */
      .head h2 {
        font-size: 1.5rem;
      }
      .head h2::after {
        width: 70%;
      }
    }
    
    @media (max-width: 480px) { /* Mobile view */
      .head h2 {
        font-size: 1.2rem;
      }
      .head h2::after {
        width: 90%;
      }
    }
    
    
    @media screen and (max-width: 768px) {
      form > div {
        flex-direction: column;
      }
    
      form > div label {
        width: 100%;
      }
    }
    